layout {
    pane split_direction="vertical" {
        pane edit=""
        pane split_direction="horizontal" {
            pane
            pane {
              command "sqlfluff" {
                args "fix"
              }
              size "15%"
            }
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
    pane_template name="sqlfluff" {
        command "sqlfluff"
        start_suspended true
    }
}
